.App {
  font-family: sans-serif;
  max-width: 60%;
  text-align: center;
  display: block;
  margin: 10px auto;
  border: 1px solid rgb(87, 81, 81);
  border-radius: 20px;
  color: rgb(87, 81, 81);
}

.App-logo {
  max-width: 15%;
  display: block;
  margin: 10px auto;
}

.inputForm .SubmitValue {
  margin: 10px 10px 20px 10px;
}

.FooterName {
  text-align: center;
  font-size: 10px;
  color: rgb(87, 81, 81);
}
