.App {
  font-family: sans-serif;
  max-width: 60%;
  display: block;
  text-align: center;
  margin: 20px auto;
  border: 1px solid rgb(87, 81, 81);
  border-radius: 20px;
  color: rgb(87, 81, 81);
  background: #f9f8fe;
}

a {
  color: #9670f4;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 15%;
  display: block;
  margin: 0 auto;
}

.inputForm {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.FooterName {
  text-align: center;
  font-size: 10px;
  color: rgb(87, 81, 81);
  margin: 30px 0;
}
