.meanings h3 {
  color: rgb(20, 19, 19);
  margin-top: 7px;
  opacity: 0.5;
  text-align: justify;
  font-size: 30px;
}

.meanings .card {
  text-align: justify;
  color: black;
}

em {
  font-style: italic;
  font-size: medium;
}
